.red{
    background: red;
    height: 100px;
    width: 400px;
}
 
.black{
    background: black;
    height: 100px;
    width: 400px;
}

.blue{
    background: blue;
    height: 100px;
    width: 400px;
}

.main{
    display: block;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
}