body{
    margin: 20px;
}

.avatar{
    width: 150px;
}

.card{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: #dbe9f4;
    background: #87ceeb;
}

.border-blue{
    border: 1px dotted blue;
}