body{
    margin: 20px;
}

.avatar{
    width: 150px;
}

.card{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 20px;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 5px solid #d8cefe;
}

.border-blue{
    border: 1px dotted blue;
}

.text-box{
    
    padding: 5px;
}