.main{
    margin-top: 15%;
}

.logo-1{
    
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.input-1{    
    width: 400px;
    height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid #dfe1e5;
    border-radius: 24px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
}

.btn{
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    border: 0px solid;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #dfe1e5;
}

