body{
    padding: 8px;
}


.doto {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#main {
    background: #272829;
    width: 1280px;
    height: 720px;
    padding: 12px;
}

.teams {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

h1 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

#title-txt {
    display: flex;
    justify-content: center;
}

.score-screen {
    width: 200px;
    height: 100px;
    background: #0f0f0f;
    border-radius: 15px;
}

.teamname {
    color: crimson;
    margin: 10px;
    font-size: 48px;
}

h2 {
    color: darkred;
    font-family: doto;
    font-size: 60px;
    margin: 0%;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}