body{
    padding: 8px;
}

#main {
    background: #0f0f0f;
    width: 1280px;
    height: 720px;
    
}

h1{
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
    margin-left: 10px;
}