body{
    text-align: center;
    color: white;
    background-color: #a2d2ff;
    font-family: "Happy Monkey", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#target{
    
    width: 150px;
    border: 3px solid #efb0c9;
    border-radius: 50%;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}



#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bday-age{
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#bday-date{
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px;
}

.gift-section{
    margin-top: 50px;
}

.gift-title{
    margin-bottom: 10px;
}

.gift-hint{
    margin-top: 0px;
}

.gift-img{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image:url("images/gift-cover.jpg");
    background-size: cover;
}

.gift-img:hover{
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeW83dHR6M2tqMm14OHUyOXk0Y3VneW85OWJibzB2YzhiOThib3drbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MeIucAjPKoA120R7sN/giphy.gif");
}