body{
    text-align: center;
    color: white;
    background-color: #a2d2ff;
    font-family: "Happy Monkey", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#target{
    
    width: 150px;
    border: 3px solid #efb0c9;
    border-radius: 50%;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

h2, h3 {
    background: #efb0c9;
}