body{
    text-align: center;
    color: white;
    background-color: #a2d2ff;
    font-family: "Happy Monkey", sans-serif;
}

#target{
    
    width: 150px;
    border: 3px solid #efb0c9;
    border-radius: 50%;
}