body{
    margin: 0;
    color: #82a5ca;
    height: 400px;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}


#hero{
    
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzZrMDg5OGc2ZjFkcHczdncxNG9qejlraHJ5d2tnMDVwNDBrYTlpMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iicDrNGWxHmDrIni6j/giphy.gif");
    background-size: cover;
    padding: 10px 0 40px 0;
    text-shadow: 5px 5px black;
}


.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.btn{
    padding: 10px 20px;
    font-family: "Orbitron", sans-serif;
    background: white;
    border: none;
    font-weight: bolder;
}

.cta{
  border: 2px solid #a3bc71;
  padding: 5px 10px;
  background: #8f4737;
}

.highlighter{
  padding: 5px 10px;
  border-bottom: 4px solid #ffffff;
}

#main-logo{
  width: 300px;
  border: 3px solid;
  border-color: white;
}