body{
    color: white;
    background-image: url("images/galaxy.jpg");
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}


.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.btn{
    padding: 10px 20px;
    font-family: "Orbitron", sans-serif;
    background: white;
    border: none;
}