body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: green;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

