body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: green;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

h1 {
    color: goldenrod;
}

button {
    width: 150px;
    padding: 5px;
    font-weight: bold;
    background: goldenrod;
    color: #016f32;
    border: none;
    border-radius: 3px;
}

#message-el {
    font-style: italic;
}

