.card{
    color: #222222;
    background-color: lightgrey;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid #4a5667;
    border-radius: 20px;

    padding-top: 70px;
    padding-bottom: 2px;
    padding-right: 70px;
    padding-left: 8px;
}

.button-follow{
    font-weight: bold;
    color: #0f1419;
    background-color: white;
    border-color: #cfd9de;

    border: 2px solid;
    border-radius: 25px;

    padding: 15px;
}

.nav-wrapper{
    display: flex;
    justify-content: center;
}

.item{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.red-circle{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #bc002d;
    margin: 40px auto;
}

.flag-back{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    
}